pyTelegramBotAPI==4.14.0
Flask==3.0.0
pytz==2024.1
curl_cffi==0.6.2
pandas==2.2.2
matplotlib==3.8.4
numpy==1.26.4
APScheduler==3.10.4
googletrans==4.0.0rc1
feedparser==6.0.11
requests==2.31.0
beautifulsoup4==4.12.2
yfinance==0.2.38
pandas-ta==0.3.14b0
lxml==5.2.2
